## Assignment 5
### Gagana Uday Kumar (WOV796)

### 2. For parts (a) through (c), indicate which of i. through iv. is correct. Justify your answer.

### (a) The lasso, relative to least squares, is:
### i. More flexible and hence will give improved prediction accuracy when its increase in bias is less than its decrease in variance.
### False

### ii. More flexible and hence will give improved prediction accuracy when its increase in variance is less than its decrease in bias.
### False

### iii. Less flexible and hence will give improved prediction accuracy when its increase in bias is less than its decrease in variance.
### True

### iv. Less flexible and hence will give improved prediction accuracy when its increase in variance is less than its decrease in bias.
### False

### (b) Repeat (a) for ridge regression relative to least squares.

Less flexible and hence will give improved prediction accuracy when its increase in bias is less than its decrease in variance.

### (c) Repeat (a) for non-linear methods relative to least squares.

More flexible and hence will give improved prediction accuracy when its increase in variance is less than its decrease in bias.

### 9. In this exercise, we will predict the number of applications received using the other variables in the College data set.

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
import statsmodels.api as sm
from statsmodels.stats.anova import anova_lm
from ISLP import load_data
from ISLP.models import ModelSpec as MS, summarize
from ISLP import confusion_table
from ISLP.models import contrast
from sklearn.discriminant_analysis import \
(LinearDiscriminantAnalysis as LDA ,
QuadraticDiscriminantAnalysis as QDA)
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis,QuadraticDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [4]:
college = pd.read_csv('College.csv')
college

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,Worcester State College,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,York College of Pennsylvania,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [9]:
college2 = pd.read_csv('College.csv', index_col=0)
college3 = college.rename({'Unnamed: 0': 'College'},axis=1)
college3['Private'] = college3['Private'].map({'Yes': 1, 'No': 0})

In [10]:
college = college3
college

,College,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,1,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,1,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,1,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,1,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,1,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,Worcester State College,0,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Xavier University,1,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Xavier University of Louisiana,1,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yale University,1,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,York College of Pennsylvania,1,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

### (a) Split the data set into a training set and a test set.

In [28]:
X = college.drop(columns=['Apps', 'College', 'Private'])  # Features
y = college['Apps']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### (b) Fit a linear model using least squares on the training set, and report the test error obtained.

In [29]:
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
linear_test_predictions = linear_model.predict(X_test)
linear_test_error = mean_squared_error(y_test, linear_test_predictions)
print("Linear Model Test Error:", linear_test_error)

Linear Model Test Error: 1442624.9143528773

### (c) Fit a ridge regression model on the training set, with &lambda; chosen by cross-validation. Report the test error obtained.

In [31]:
ridge_model = RidgeCV(alphas=[0.1, 1.0, 10.0], cv=5)
ridge_model.fit(X_train, y_train)
ridge_test_predictions = ridge_model.predict(X_test)
ridge_test_error = mean_squared_error(y_test, ridge_test_predictions)
print("Ridge Model Test Error:", ridge_test_error)

Ridge Model Test Error: 1442634.685860575

### (d) Fit a lasso model on the training set, with &lambda; chosen by crossvalidation. Report the test error obtained, along with the number of non-zero coefficient estimates.

In [32]:
lasso_model = LassoCV(alphas=[0.1, 1.0, 10.0], cv=5)
lasso_model.fit(X_train, y_train)
lasso_test_predictions = lasso_model.predict(X_test)
lasso_test_error = mean_squared_error(y_test, lasso_test_predictions)
non_zero_coef = np.sum(lasso_model.coef_ != 0)
print("Lasso Model Test Error:", lasso_test_error)
print("Number of non-zero coefficient estimates:", non_zero_coef)

Lasso Model Test Error: 1442731.2324926977
Number of non-zero coefficient estimates: 16

### (e) Fit a PCR model on the training set, with M chosen by crossvalidation. Report the test error obtained, along with the value of M selected by cross-validation.

### (f) Fit a PLS model on the training set, with M chosen by crossvalidation. Report the test error obtained, along with the value of M selected by cross-validation.

### (g) Comment on the results obtained. How accurately can we predict the number of college applications received? Is there much difference among the test errors resulting from these five approaches?

We can observe that the test errors obtained from all three approaches (linear, ridge, and lasso regression) are very close to each other, with only minor differences. This suggests that all three models perform similarly in predicting the number of college applications received. This suggests that the prediction of the number of college applications received can be made with reasonable accuracy using any of these regression techniques. However, the choice between linear, ridge, or lasso regression may depend on other factors such as interpretability, computational efficiency, and the need for feature selection.